/*
common.css: styling used throughout the web interface in one file, reducing overall file sizes
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../universal/fonts/opensans/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
body, h1, h2, p, a, div{ 
text-align: center;
margin: auto auto auto auto;
font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
font-weight: 100;
background-color: #2C2F33;
color:white;
}
button{
    background-color: #7289DA;
    color:white;
    text-decoration: none;
    padding-left: 5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:1%;
    border: 5px;
    border-radius: 10px;
    transition:0.2s;
}
button:hover{
    background-color: lightskyblue;
}
input{
    text-align:center;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-weight: 300;
    padding: 0.5% 2% 0.5% 2%;
    width: 50%;
    height: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius:0px;
    border: 3px;
    outline:none;
    background-color:#FFF;
    overflow:visible;
}
input:focus{
    border: 3px;
    border-radius:8px;
}
#error{
    color:rgb(255, 0, 0)
}