@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../universal/fonts/opensans/open-sans-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../universal/fonts/opensans/open-sans-v16-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/opensans/open-sans-v16-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Light'), local('OpenSans-Light'),
         url('../../universal/fonts/opensans/open-sans-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../universal/fonts/opensans/open-sans-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../../universal/fonts/opensans/open-sans-v16-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../../universal/fonts/opensans/open-sans-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../universal/fonts/opensans/open-sans-v16-latin-300.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

img{
    width:auto;
    height:auto;
}
body, h1, h2, div, p, footer{ 
text-align: center;
margin: auto auto auto auto;
font-family: 'Open Sans' , "Segoe UI", Tahoma, sans-serif;
font-weight: 400;
text-shadow: 0 0 1px rgba(0,0,0,0.3);
background-color: #36393f;
color:white;
padding-bottom:1%;
}
a{
    font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
    font-weight:100;
}
button{
    background-color: #7289DA;
    color:white;
    text-decoration: none;
    padding-left: 5%;
    padding-right:5%;
    padding-top:1%;
    padding-bottom:1%;
    border: 5px;
    border-radius: 10px;
    transition:0.2s;
}
button:hover{
    background-color: rgb(135, 156, 250);
}
input{
    text-align:center;
    font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
    font-weight: 400;
    padding: 0.5% 2% 0.5% 2%;
    width: 50%;
    height: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius:0px;
    border: 3px;
    outline:none;
    background-color:#FFF;
    overflow:visible;
}
input:focus{
    border: 3px;
    border-radius:8px;
}
#error{
    color:rgb(255, 0, 0)
}
.navbar{
    display:block;
    color: #FFF;
    background-color: #36393f;
    font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
    font-weight: 300;
    font-size: 100%;
    margin: 0% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: inherit;
    overflow: hidden;
    }
    li {display: block;}
    a.link {
        font-family: 'Open Sans', "Segoe UI", Tahoma, sans-serif;
        font-weight: 400;
        font-size: 100%;
        color: #FFF;
        }       
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #36393f;
    
    }
    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      text-align:center;
    }
    #active {
    color: white;
    background-color:  rgb(135, 156, 250);
    font-size: 100%;
    }
    li a:hover{
        font-size: 100%;
        background-color: #7289DA;
        }
    li a{
        font-family: 'Open Sans' , "Segoe UI", Tahoma, sans-serif;
        font-weight:300;
        display: block;
        color: white;
        text-align: center;
        padding: 25px 45px 25px 40px;
        text-decoration: none;
        background-color: #36393f;
        transition: background-color;
        transition-duration: 0.5s;
        overflow:hidden;
        }
    a:visited{
        color:white;
}

.footer{
    padding-top:5%;
    font-size:small;
    font-weight:300;
    position:absolute;
    bottom:0;
    width:100%;
}
